<!-- ==================== ABOUT VIDEO ONLY ==================== -->
<section class="py-5 bg-white" id="about-video-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="about-video-wrapper">
          <div class="ratio ratio-16x9">
            <iframe
              src="https://www.youtube.com/embed/4Hm_h0nTCxY?rel=0"
              title="BRICON VIỆT NAM - Giới thiệu sản phẩm"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
